root = true

; Default
[*]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

; JavaScript and JS mixes - match eslint settings; JSON also matches .NET Core templates
[*.{js,json}]
indent_size = 2

; Markdown - match markdownlint settings
[*.{md,markdown}]
indent_size = 2

; PlantUML - match examples
[*.puml]
indent_size = 2
